html {
    font-size: 20px;
}

.twitter-container {
    margin: 2% 0 0 4%;
}
main {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    padding: 0 1%;
}

.home-header {
    padding-left: 2.2%;
    padding-right: 44.5%;
    margin-left: 18%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 172, 172);

}

.search-header {
    display: flex;
    height: 30px;
    margin-left: 5%;
    align-items: center;
}

.fa-twitter {
    font-size: 30px;
    color: #00acee;
}

/* sidebar menu  */

.sidebar-twitter {
    display: flex;   
}

.sidebar-icon i {
    display: block;
    font-size: 25px;
    margin: 30% 0;
    padding: 20% 0;
    }

/* in home page */

.fa-home {
    color: #00acee; 
}

.home {
    color: #00acee;
}


/* other menu page */

.sidebar-list h1 {
    font-size: 25px;
    margin-left: 10%;
    
}

.button-tweet input[type=button] {
    margin: 4px 1px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    background-color: #00acee;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.profile-twitter{
    display: flex;
}

.profil-sidebar {
    height: 50px;
    margin: 2% 2% 0 0;
    border-radius: 6em;
}

.profile-name {
    padding: 2% 0 0 1%;
}

.profile-name h3, p{
    margin: 1% 0;
    font-size: 15px;
}

/* content menu */


.center-twitter {
    width: 50%;
    margin: 1% 4% 0 5%;
    padding: 2% 0 0 2%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(172, 172, 172);
}

.profile-tweet {
    margin: 0 0 8% 0;
}

textarea {
    width: 50%;
    margin-top: 0.7em;
    padding: 12px 20px;
    border-width: 1px;
    resize: none;
    border-color: rgb(184, 182, 182);
}

.add-icon {
    display: flex;
    margin: 0 34% 0 9%;
    align-items: center;
    color:  #00acee;
}

.space-tweet {
    flex-grow: 1;
}

.center-tweet-button input[type=button] {
    margin: 0 1px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    background-color: #00acee;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.friends-tweet {
    display: flex;
}

.friends-tweet-name {
    display: block;
}

.friends-tweet-name-up {
    display: flex;
    align-items: center;
        
}

.friends-tweet-name-up h3, p {
   margin: 3% 0 0 0; 

}

.friends-tweet-name-up p {
    margin: 0;
    padding-top: 4%;
}

.friends-tweet-text p {
    margin: 1% 0 0 0;
}

.twitter-content-pic {
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    border-color: #00acee;
}

/* trending menu */

.right-twitter {
    width: 20%;
    border-style: solid;
    border-color:rgb(219, 242, 250);
    border-width: 1px;
    border-radius: 1em;
    background-color: rgb(219, 242, 250);
}

.trends-tweet {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 5% 5%;
}

.title-trends {
    margin: 0;
    font-size: 25px;
}

.trends-content {
    padding-left: 15%;
}

.hashtag-trends {
    margin: 0;
    font-size: 25px;
}

.trends-p {
    margin-top: 15%;
}




